services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile # trỏ vào file dev vừa tạo
    ports:
      - "8081:5173"
    volumes:
      - ./frontend:/app # gắn folder code máy thật vào container
      - /app/node_modules # tránh build lại node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true # khắc phục vấn đề khi thay đổi file trong container
    depends_on:
      - backend